<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Medlearn</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Language" content="en">
    <link rel="canonical" href="cid:httpsX3aX2fX2fwwwX2eosmosisX2eorgX2flearnX2fAbnormalX5fheartX5fsounds">
    <meta name="author" content="">
    <meta property="og:site_name" content="Medlearn">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="video.other">
    <meta property="og:image" content="https://osmose-it.s3.amazonaws.com/OoG6eaDJR9i-YAE__ZXEghDIQnC8MF0H/_.jpg">
    <meta property="og:video" content="https://osmose-it.s3.amazonaws.com/ttnKWgo-TtOXp7ANZrIh8W2pQnWeg737.mp4">
    <meta property="og:video:url" content="https://osmose-it.s3.amazonaws.com/ttnKWgo-TtOXp7ANZrIh8W2pQnWeg737.mp4">
    <meta property="og:video:secure_url" content="https://osmose-it.s3.amazonaws.com/ttnKWgo-TtOXp7ANZrIh8W2pQnWeg737.mp4">
    <meta property="og:video:type" content="application/x-shockwave-flash">

</head>
</html>