<!DOCTYPE html>

<html lang="en" >
<head>
    <!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" >
    <meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- title -->
    <title>Medlearn</title>
	<!-- stylesheets -->
	<!-- css -->
    <link rel="stylesheet" href="../css/main.css">

	<!-- scripts -->
	<script src="./js/jquery.min.js"></script>


	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">

  <!-- Angular Material style sheet -->
 
</head>
<body>
  <!--
    Your HTML content here
  -->
    <div class='container-fluid'>
         {% block content %}
         {% endblock %}
    </div>

<!-- js -->
<script src="../js/main.js"></script>
   <!-- Angular Material requires Angular.js Libraries
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script> -->

  <!-- Angular Material Library
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script> -->
  <!-- Your application bootstrap  -->

</body>
</html>
